body {
    margin: 0px;
}
nav {
    display: flex;
}
nav>.logo {
    flex: none; width: 100px;
    background-color: #ffcccc;
}
nav>.menu {
    flex: auto;
    background-color: #ccccff;
}
nav>.user {
    flex: none; width: 100px;
    background-color: #ccffcc;
}
/* main */ 
/*container*/
main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cccccc;
}
/*item*/
main>.item {
    flex: none;
    width: 300px; margin: 10px;
    background-color: #ffcccc;
}